$b: #000;
$w: #fff;
$grey-light: rgba($w, 0.1);
$grey: rgba($b, 0.1);
$grey-dark: rgba($w, 0.2);
$lavender: #8000FF;
$lavender-dark: #6900D1;
$violet: #35006A;
$violet-dark: #250060;

$pink: #FF0093;
$deepRose: #D10079;
$bg: $violet-dark;