<div class="homepage">
  <div class="header">
      header
    <!-- <span class="icon-sharp-build-24px"></span> -->
  </div>
  <div class="body">
    <!-- {{clickList}}: {{isBasic}} -->
    <div class="body-title">
        <div class="step step-1" @click.once="addItem('basic')">
          <div class="step-img">
              <img src="@/assets/img-planet-basics.png" alt="">
          </div>
        </div>
        <div class="step step-2">
            <div class="step-img">
                <img src="@/assets/img-planet-css.png" alt="">
            </div>
        </div>
        <div class="step step-3">
            <div class="step-img">
                <img src="@/assets/img-planet-js.png" alt="">
            </div>
        </div>
        <div class="step step-4">
            <div class="step-img">
                <img src="@/assets/img-planet-managers.png" alt="">
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="step step-1">
          <div class="step-item" :class="{canClick: isCategory('basic'), isDone: checkedLength(item.recommend) == item.recommend.length, isActive: myDetail.id==item.id}" v-for="(item,index) in basicLists" @click="showDetail(basicLists[index])">
            <div class="item-img"><span :class="'icon-sharp-'+ item.icon + '-24px'"></span></div>
            <div class="item-list">
              <p><span class="icon-sharp-build-24px"></span>{{checkedLength(item.recommend)}}/{{item.recommend && item.recommend.length}}</p>
              <p><span class="icon-sharp-filter_tilt_shift-24px"></span>0/{{item.optional && item.optional.length}}</p>
            </div>
          </div>
        </div>
        <div class="step step-2">
						<div class="step-item" :class="{canClick: isCategory('css'), isDone: checkedLength(item.recommend) == item.recommend.length, isActive: myDetail.id==item.id}" v-for="(item,index) in cssLists" @click="showDetail(cssLists[index])">
							<div class="item-img"><span :class="'icon-sharp-'+ item.icon + '-24px'"></span></div>
							<div class="item-list">
								<p><span class="icon-sharp-build-24px"></span>{{checkedLength(item.recommend)}}/{{item.recommend && item.recommend.length}}</p>
								<p><span class="icon-sharp-filter_tilt_shift-24px"></span>0/{{item.optional && item.optional.length}}</p>
							</div>
						</div>
        </div>
        <div class="step step-3">
						<div class="step-item" :class="{canClick: isCategory('js'), isDone: checkedLength(item.recommend) == item.recommend.length, isActive: myDetail.id==item.id}" v-for="(item,index) in jsLists" @click="showDetail(jsLists[index])">
								<div class="item-img"><span :class="'icon-sharp-'+ item.icon + '-24px'"></span></div>
								<div class="item-list">
									<p><span class="icon-sharp-build-24px"></span>{{checkedLength(item.recommend)}}/{{item.recommend && item.recommend.length}}</p>
									<p><span class="icon-sharp-filter_tilt_shift-24px"></span>0/{{item.optional && item.optional.length}}</p>
								</div>
							</div>
				</div>
        <div class="step step-4">
						<div class="step-item" :class="{canClick: isCategory('maneger'), isActive: myDetail.id==item.id, isDone: checkedLength(item.recommend) == item.recommend.length}" v-for="(item,index) in managerLists" @click="showDetail(managerLists[index])">
								<div class="item-img"><span :class="'icon-sharp-'+ item.icon + '-24px'"></span></div>
								<div class="item-list">
									<p><span class="icon-sharp-build-24px"></span>{{checkedLength(item.recommend)}}/{{item.recommend && item.recommend.length}}</p>
									<p><span class="icon-sharp-filter_tilt_shift-24px"></span>0/{{item.optional && item.optional.length}}</p>
								</div>
							</div>
				</div>
    </div>
  </div>
  <div class="note">
      <div class="note-header">
        <div class="title">
          <span :class="'icon-sharp-'+ myDetail.icon + '-24px'"></span>
          <h2>{{myDetail.title}}</h2>
        </div>
      </div>
      <div class="note-body">
        <div class="note-container" v-if="myDetail.recommend">
          <div class="title">
              <span class="icon-sharp-settings-24px"></span>
              <p>RECOMMENDED</p>
          </div>
          <button class="btn" v-for="(item,index) in myDetail.recommend" :class="{isActive: item.checked}" @click.prevent="addCheck(myDetail.id, index)">{{item.title}}</button>
        </div>
        <div class="note-container" v-if="myDetail.optional">
            <div class="title">
                <span class="icon-sharp-filter_tilt_shift-24px"></span>
                <p>OPTIONAL</p>
            </div>
            <button class="btn" v-for="item in myDetail.optional">{{item.title}}</button>
          </div>
      </div>
  </div>
</div>
